@import "styles/variaveis";



.menu {
    padding: 20px $padding-horizontal;
}

.header{
    background-image: url("/assets/cardapio/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    padding: 0 $padding-horizontal;

    align-items: center;
    &__text{
        font-size: 5rem;
        min-width: 400px;
        width: 40%;
        color: #fff;
    }
}